html, body {
    touch-action: none;
}

#canvas {
    background: #000;
    color: #fff;
    position: absolute;
    user-select: none;
    overflow: hidden;
    border: none;
    outline: none;
}
