#label {
    background: #000;
    color: #fff;
    font-size: 48px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
